<div class="mat-card card-extrato">
  <h2 class="">Extrato</h2>
  <div class="listaTransacoes" *ngFor="let transacao of listaTransacao">
    <div class="listaTransacoes__coluna">
      <p>{{ transacao.dataInclusao | date }}</p>
    </div>
    <div class="listaTransacoes__coluna">
      <p>{{ transacao.valor / 100 | currency: "BRL" }}</p>
    </div>
    <div class="listaTransacoes__coluna">
      <p>{{ transacao.tipo }}</p>
    </div>
    <div class="listaTransacoes__descricao">
      <p>{{ transacao.descricao }}</p>
    </div>
    <div class="listaTransacoes__acoes">
      <button class="button m-2 is-primary is-inverted">
        <span class="icon">
          <i class="fa fa-x"></i>
        </span>
        editar
      </button>
      <button class="" (click)="deletarTransacao(transacao._id)">
        <span class="icon"> </span>
        deletar
      </button>
    </div>
  </div>
</div>
