<div class="balanco">
  <div class="balanco__card">
    <div class="box">
      <div class="">
        <p>Saldo</p>
        <p>R$</p>
      </div>
      <p class="">
        {{ saldoSub$ | async | number: "1.2-2" }}
      </p>
    </div>
  </div>

  <div class="balanco__card">
    <div class="box">
      <div class="">
        <p>Gastos</p>
        <p>R$</p>
      </div>
      <p class="">
        {{ somaGastosSub$ | async | number: "1.2-2" }}
      </p>
    </div>
  </div>

  <div class="balanco__card">
    <div class="box">
      <div class="">
        <p>Ganhos</p>
        <p>R$</p>
      </div>
      <p class="">
        {{ somaGanhosSub$ | async | number: "1.2-2" }}
      </p>
    </div>
  </div>

  <div class="balanco__card">
    <div class="box">
      <div class="">
        <p>Investimentos</p>
        <p>R$</p>
      </div>
      <p class="">
        {{ somaInvestimentosSub$ | async | number: "1.2-2" }}
      </p>
    </div>
  </div>
</div>
